	body{
		background-color: white;		
	}

	.carousel{
		width: 100%;
		/*overflow: scroll;*/
		padding: 30px;
		position: relative;
		height: 200px;
		margin-left: 250px;
		
	}
	.carousel__container{
		white-space: nowrap;	
		
		
	}
	.carousel__container--sell{
		font-size: 5px;
		
	}
	.carousel-item{
		display: inline-flex;
		background: white;
		width: 180px;
		height: 200px;
		border: 1px solid black;
		overflow: hidden;
		margin-right: 10px;
		margin-top: 15px;
		cursor: pointer;
		transition: 450ms all;
		transform-origin: center left;
		position: relative;

	}
	.carousel-item:hover ~ .carousel-item {
		transform: translate3d(100px, 0, 0);
	}
	.carousel__container:hover .carousel-item{
		opacity: 0.3;
	}
	.carousel__container:hover .carousel-item:hover{
		transform: scale(1.5);
		opacity: 1;
	}
	.carousel-item__img{
		width: 200px;
		height: 150px;
		object-fit: cover;

	}
	.carousel-item__details {
		/*background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100% );*/
		font-size: 10px;
		opacity: 1;
		transition: 450ms opacity;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding-top: 120px;
		color: white;


	}
	.carousel-item__title{
		background-color: lightgrey;
		width: 180px;
		height: 80px;
		color: darkgrey;
		text-align-last: center;
		
	}
	.carousel-item__cost{
		display: inline-flex;
		align-items: center;
		color: black;	
		padding-top: 1px;
		list-style: none;
	}
	.carousel-item__cost li p, .carousel-item__cost li{
		font-size: 10px;
		color: black;

	}
	.carousel-item__cost li {
		padding-left: 5px;
	}
	
	.carousel-item__title button{
		background: black;
		color: white;
		border-radius: 5px;
		font-size: 8px;
		height: 20px;
	}