body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: black;
}

.Header{
	background-color: white;
	display: flex;
	justify-content: space-around;

}
.Header__img--logo {
	margin-top: 10px;
	margin-left: 120px;
	width: 120px;
}

.input{
	font-size: 10px;
	color: rgba(0, 0, 0, 0.3);
	width: 350px;
	height: 20px;
	margin-top: 10PX;
	border-top-color: rgba(255, 255, 255, 0);
	border-left-color: rgba(255, 255, 255, 0);
	border-right-color: rgba(255, 255, 255, 0);
	margin-right: 10px;
	
}

::placeholder{
	border-bottom-color: black;
};

.main__search img{
	margin-left: 0;
}
.main__account{
	margin-left: 20px;
	display: inline-flex;
}
.main__account--login{
	width: 10px;
	height: 10px;
	margin-right: 10px;
}
.main__account--name{
	margin-top: 1px;
}
.main__shopping{
	margin-left: 20px;
	width: 15px;
	height: 15px;
}
h6{
	font-size: 7px;
	color: rgba(0, 0, 0, 0.3);
}